
homeworks
HotelSearchProject/.vscode
HotelSearchProject/css 
HotelSearchProject/images
HotelSearchProject/js
HotelSearchProject/node_modules
HotelSearchProject/vendor
Lesson4
m4JSAssignment


HotelSearchProject/logs
*.log
*.xml
*.zip

HotelSearchProject/cypress/screenshots
HotelSearchProject/cypress/videos
HotelSearchProject/cypress/logs

HotelSearchProject/cypress/fixtures
HotelSearchProject/cypress/support

HotelSearchProject/cypress.config.js
